[submodule "driver/libraries/FindWDK"]
	path = driver/libraries/FindWDK
	url = https://github.com/SergiusTheBest/FindWDK.git
[submodule "driver/libraries/ksocket"]
	path = driver/libraries/ksocket
	url = https://github.com/wbenny/KSOCKET.git
